
/*.navbar-custom {
    background-color: #7B6BF1; 
}
*/

.nav-link.active{
    border-bottom: 2px solid #7B6BF1;
    }


.nav-link {
    color : #494949 !important;
    font-weight: 500;

}

.navbar-nav .nav-link:hover,   .nav-link.active{
    color: black !important;
}

.metric_container{
    display: flex;
    flex-direction: column;
}

.metric_container_chart, .metric_container_card{
    display: flex;
    flex-wrap:wrap;
    margin: 10px;
    justify-content:space-around;
}

.metric-card {
    width: 300px; 
    height: 200px; 
    border: 1px solid #494949;
    border-radius: 3px;
  }

  .metric-header {
    padding: 2px 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color : #494949;
    height: 45px;

  }

  .metric-value {
    text-align: center;
    padding: 20px 0;
    height: 100%; 
    font-weight: 600;
    font-size: 45px;
    height: 155px;
    color: #323232;
  }


canvas{
    font-style: normal;
}

.metric-card{
    padding: 20px;
    margin: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clients_container{
    margin: 20px;
}
#search{
    margin: 10px 0;
}

.clients_container li {
    padding: 10px;
    border-top: 1px solid #ccc;
}
  
.clients_container li:last-child {
    border-bottom: 10px;
}

/*.clients_container li:hover{
    border: 2px solid #494949;
} */

.clients_container li:hover a{
    color: black;
    font-style: bold;
}

.client, .date{
    color: #494949;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: bold;
    text-decoration: none;
}

.client:hover, .date:hover{
    text-decoration: none;
}

.time{
    font-size: 13px;
    color: #494949;
    margin: 0;

}





