{% extends 'base.html' %}
{% block content %}

  

<div class =clients_container>
    <input type="text" id="search" placeholder="Search">


    <ul id="client-list">
        {% for client in client_names %}
            <li><a href="{{ url_for('main.client_ind', client_id=client.id) }}" class="client">{{ client.name }}</span></a></li>
        {% endfor %}
    </ul>
    </div>


        <script>
            $(document).ready(function() {
                var debounceTimer;
        
            function fetchUsers(query) {
                $.ajax({
                    url: '/search',
                    method: 'GET',
                    data: {query: query},
                    success: function(response) {
                        var clientNames = response.client_names;
                        var clientList = $('#client-list');
                        clientList.empty();
                        clientNames.forEach(function(clientName) {
                            var link = `/client_ind/${clientName.id}`; 
                            var listItem = $('<li>');
                            var anchor = $('<a>')
                                .attr('href', link).addClass('client')
                                .text(clientName.name);
                            listItem.append(anchor);
                            clientList.append(listItem);
                        });

                    }
                });
            }

            $('#search').on('input', function() {
                var query = $(this).val().trim();

                clearTimeout(debounceTimer);  // Clear the existing timer each time the user types
                debounceTimer = setTimeout(function() {
                    fetchUsers(query);
                }, 300);  // Wait for 300ms of inactivity before invoking the fetchUsers function
            });
        });
        
        </script>

{% endblock %}