<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
        <form action="/login" method="post" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4">Expenses And Incomes</legend>
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(class_="form-control", size=32) }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(class_="form-control", size=32) }}
            </div>
            <div class="form-group border-bottom pb-3">
            {{ form.submit(class_="btn btn-primary") }}
            </div>
            {% if msg %}
            <p class="error">{{ msg }}
            {% endif %}


    </fieldset>
        </form>




</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>